body{
    
background-color: #f3f9fd;
color: #1b1b1b;
}
a{
    text-decoration: none;
}
.logo-text{
    font-weight: bold;
}
.small{
    font-size: 16px;
}
.header-color{
    color: white;
    background-color: #227bb7;
}
li{
    list-style: none;
}
/* test round card*/
.hello{
    border-radius: 5px 5px 0 0;
}
.round-left {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.round-right{
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
/* #text{
    position:absolute;
    top: 50%;
    left: 50px;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);

} */

.quote{
    border-left: solid black;
    padding: 12px;
    margin-bottom: 5px;
    font-style: italic; 
    font-weight: bold;
}
.margin{
    margin-right: 25px;
    margin-bottom: 10px;
}
.reply{
    margin-left: 30px;
}
@media screen and (max-width: 320px){
    /* styles */
    .logo-text{
        font-size: 20px;

    }
}
@media screen and (min-width: 768px){
    .screen{
        margin-left:50px;
        margin-right: 50px;
    } 
    .margin-right{
        margin-right: 50px;
    }
}